pipeline/pl_season_year_parents.json
{
	"name": "pl_season_year_parents",
	"properties": {
		"activities": [
			{
				"name": "act_web",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "http://ergast.com/api/f1/seasons.json?limit=100"
				}
			},
			{
				"name": "act_get_year",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_web",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_web').output.MRData.SeasonTable.Seasons",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat('http://ergast.com/api/f1/',item().season, '.json?limit=100')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_set_variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "year",
								"value": {
									"value": "@{activity('Web1').output.MRData.RaceTable.Races}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_copy_schedule_season",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "act_set_variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "col",
											"value": {
												"value": "@variables('year')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "col",
												"type": "String"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 1
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_web_source_year",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_year_parents",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "set_var_child",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "take_year_from_parents",
								"value": {
									"value": "@item().season",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_execute_child_pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "set_var_child",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_session_round_child",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"take_season_from_parents": {
										"value": "@variables('take_year_from_parents')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"year": {
				"type": "String"
			},
			"take_year_from_parents": {
				"type": "String"
			},
			"round_wise_data": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ingestion"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-12T04:00:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}